<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT Menu ANY>
<!ATTLIST Menu id ID #REQUIRED>
<!ELEMENT MenuContainer ANY>
<!ATTLIST MenuContainer id ID #REQUIRED>
<!ELEMENT MenuItem ANY>
<!ATTLIST MenuItem id ID #REQUIRED>
<!ELEMENT SubMenu ANY>
<!ATTLIST SubMenu id ID #REQUIRED>
<!ELEMENT Startpage ANY>
<!ATTLIST Startpage id ID #REQUIRED>
<!ELEMENT BaseDocument ANY>
<!ATTLIST BaseDocument id ID #REQUIRED>
]>
<root id="-1">
  <Startpage id="1067" key="746499b8-a4de-443f-a159-793e7551545b" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-05-18T14:02:00" updateDate="2017-05-18T14:02:00" nodeName="Homepage" urlName="homepage" path="-1,1067" isDoc="" nodeType="1064" creatorName="Umbraco" writerName="Umbraco" writerID="0" template="0" nodeTypeAlias="Startpage">
    <contentArea><![CDATA[<p>Homepage</p>]]></contentArea>
  </Startpage>
</root>